<div class="container mt-5 p-3 card">
  <div class="row">
    <h1>Edit task</h1>
  </div>

  <%= render 'form' %>

  <div class="row border-top mt-5">
    <%= link_to "Back to list", tasks_path %>
  </div>

</div>
